<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ethershift</title>
  <link href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body ng-app="ethershift">
  <div ui-view></div>
  <script src="dist/bundle.js"></script>
</body>

</html>